/* CompanyItem.module.css */
.companyItem {
    margin-bottom: 10px;
  }
  .companyName {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .addProjectButton {
    background-color: #3890d2; /* A nice shade of green */
    color: #3890d2;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
  
  }
  .addProjectButton:hover {
    background-color: #3076b2; /* A darker shade of blue for hover */
    transform: translateY(-3px); /* Slightly raise the button */
  }
  
  .addProjectButton::before {
    content: '➕\00a0'; /* Unicode plus symbol with a space (\00a0) */
    font-size: 0.8em;
    
  }
  
  .projectForm {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .projectInput {
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .projectList {
    list-style-type: none;
    padding: 0;
  }
  
  .projectList li {
     /* Light grey background */
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    color: #3890d2;
    font-size: 16px;
   
  }
  
  