/* Contentstyle.css */
.content-container {
  @apply container mx-auto px-4;
}

/* Contentstyle.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.header h1 {
  text-align: center;
}


.header-title {
  @apply text-2xl font-bold text-center mb-4;
}

.file-upload-container {
  @apply bg-gray-200 ml-64 mr-64 p-4 rounded-lg shadow-md;
}

.button-row {
  @apply flex justify-center items-center;
}

.upload-button {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50;
}

.record-info {
  @apply text-gray-300 text-sm;
}

