/* Header.module.css */
.header {
    background-color:rgba(122, 120, 120, 0.256);
    color: whitesmoke;
    padding: 10px;
    text-align: center; /* Center the header text */
    font-size: 2em; /* Increase the size */
    font-weight: bold; /* Make it bold */
  }
  