/* LayoutStyle.css */
/* LayoutStyle.css */
.sidebar {
  @apply fixed top-20 left-0 w-80 h-screen bg-gray-300 text-black overflow-y-auto z-10;
}



.sidebar-header {
  @apply text-xl font-semibold p-4 bg-gray-400 text-black;
}

.sidebar-content {
  @apply p-4 flex flex-col text-black;
}

.add-company-btn, .add-project-confirm-btn {
  @apply mb-3 py-2 px-4 bg-blue-500 hover:bg-blue-600 text-black rounded-md w-full cursor-pointer;
}


.sidebar-input, .project-input {
  @apply mb-3 p-2 bg-gray-400 text-black border border-gray-600 rounded-md outline-none w-full;
}

.company-section {
  @apply mb-4;
}

.company-name {
  @apply font-bold text-lg text-black;
}

.project-name {
  @apply ml-4 my-1 text-lg text-black;
}

.add-project-btn {
  @apply my-2 py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-md text-base;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.add-project-btn:hover {
  @apply bg-blue-700;
  transform: scale(1.05);
}

.clickable {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clickable:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
  color: blue; /* Text color changes to blue on hover */
}
