/* Keyframes for animations */
@keyframes slideFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Layout styling */
.layout {
  display: flex;
  flex-direction: column; /* Ensures vertical layout of items */
  height: 100%; /* Takes full height of its container */
}
  
/* Sidebar styling */
.sidebar {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 250px; /* Adjust to your preference */
  height: calc(100vh - 40px); /* Adjust if you have a different header height */
  box-sizing: border-box;
  animation: slideFadeInLeft 0.5s ease-out forwards;
}

/* Dropdown button styling */
.dropdownButton {
  background-color: #3890d2; /* Sets the background color to blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.2s; /* Smooth transition for transform and background color */
}

.dropdownButton:active {
  transform: scale(0.95); /* Scales down the button to indicate being pressed */
}

/* Company form styling */
.companyForm {
  display: flex;
  flex-direction: column;
  animation: fadeInUp 0.5s ease-out 0.5s forwards; /* Animation with delay */
  opacity: 0; /* Initial state for the animation */
}

/* Company input styling */
.companyInput {
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Company list styling */
.companyList {
  list-style: none;
  overflow-y: auto;
  padding: 0;
  animation: fadeInUp 0.5s ease-out 0.5s forwards; /* Animation with delay */
  opacity: 0; /* Initial state for the animation */
}
